* {
margin: 0;
padding: 0;
}
/* css reset where * is the universal selector*/
* {
    box-sizing: border-box;
}
@font-face {
  font-family: "bakersfield";
  src:url(C:\Users\Claudia\Documents\Docs in Aaatom\1\bakersfield.zip\Bakersfield Light.ttf);

}
body {

    margin: 0;
    font-family: "bakersfield";
}
#bg {position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#header {
          top: 2%;
          position: fixed;
          display: block;
          width: 3%;
          font-family: "Bakersfield" sans-serif;
          font-size: 60px;
          font-weight: bold;
          text-align: center;
          color: black;
          margin-left: 1.7%;
}

.curtain-btn {
      display:block;
      position: fixed;
      top:14%;
      margin-left: 2.6%;
      opacity: 0.5;
      font-size: 20px;
}

.curtain-btn:hover {
    opacity:0.4;


}
.curtain .closebtn {
    position: absolute;
    top:45%;
    left: 21.8%;
    font-size: 15px;
    opacity:0.6;
}
.curtain {
    height: 0%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 14%;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
    font-family: "Lato" sans-serif;
    opacity: 0.5;
}

.curtain-content {
    position: relative;
    top: 15%;
    width: 40%;
    font-family: "Lato" sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 18px;
}

.curtain a {
    padding: 3px;
    text-decoration: none;
    font-size: 13px;
    font-family: "Bethany Script" sans-serif;
    color: black;
    display: block;
    transition: 0.3s;
}
.curtain a:hover, .curtain a:focus {
  color: black;
  background: rgba(181, 177, 177, 0.25);
  opacity: 0.8;
}
@media screen and (max-height: 250px) {
  .curtain {overflow-y: auto;}
  .curtain a {font-size: 20px}
  .curtain .closebtn {
    font-size: 10px;
    top: 3px;
    left: 100px;
  }
}
.card{
  display: block;
  position: absolute;
  margin-top: 5%;
  margin-left: 15%;
  width: 68%;
  height: 90%;
  position: fixed;
  display: block;
  filter: grayscale(0.5);

}
.image1 {
  display: block;
  margin-top: 0;
  margin-left: 43%;
  width:12%;
  height: auto;
  background-color: blue;

}
.descript{
  display: block;
  position: absolute;
  margin-top: 1%;
  padding: 4px;
  width: 65%;
  height: 85%;
  margin-left: 20%;
  font-style: sans-serif;
  font-size: 13px;
  color: black;
  text-align: justify;
  font-weight: bold;
    overflow: scroll;

}
