* {
margin: 0;
padding: 0;
}
/* css reset where * is the universal selector*/
* {
    box-sizing: border-box;
}
@font-face {
  font-family: "bakersfield";
  src:url(C:\Users\Claudia\Documents\Docs in Aaatom\1\bakersfield.zip\Bakersfield Light.ttf);

}
@font-face {
  font-family: "Mafakanev";
  src:url(C:\Users\Claudia\Documents\Docs in Aaatom\1\bakersfield.zip\Mafakanev.otf);

}
body {

    margin: 0;
    font-family: "bakersfield";
}
#bg {position: fixed;
    top: 0;
    left: 0;
/* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#header { top: 2%;
        position: fixed;
        display: block;
        width: 3%;
        font-family: "bakersfield" sans-serif;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
        color: black;
        margin-left: 5%;
}

.curtain-btn {
      display:block;
      position: fixed;
      top:14%;
      margin-left: 5.9%;
      opacity: 0.5;
      font-size: 20px;
}

.curtain-btn:hover {
    opacity:0.4;
    color: grey;
  }
.curtain .closebtn {
    position: absolute;
    top:35%;
    left: 33%;
    font-size: 16px;
    opacity:1;
}
.curtain {
    height: 0%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 14%;
    left: 1%;
    overflow-y: hidden;
    transition: 0.5s;
    font-family: "bakersfield" sans-serif;
    opacity: 0.5;
    font-weight: bold;
}

.curtain-content {
    position: relative;
    top: 15%;
    width: 40%;
    font-family: "bakersfield" sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
}

.curtain a {
    padding: 3px;
    text-decoration: none;
    font-size: 15px;
    font-family: "bakersfield" sans-serif;
    color: black;
    display: block;
    transition: 0.3s;
}

.curtain a:hover, .curtain a:focus {
    color: black;
    background: grey;
    opacity: 0.5;
}
@media screen and (max-height: 250px) {
  .curtain {overflow-y: auto;}
  .curtain a {font-size: 20px}
  .curtain .closebtn {
    font-size: 10px;
    top: 3px;
    left: 100px;
  }
}

.card4{
  margin-top: 2%;
  margin-left: 29%;
  width: 45%;
  height: auto;
  position: fixed;
  display: block;
  filter: grayscale(0.5);
}
.image2 {
  display: block;
  width:40%;
  height: auto;
}
.descript1{
  display: block;
  position: absolute;
  margin-top: -20%;
  padding: 4px;
  width: 40%;
  height: 85%;
  margin-left: 13%;
  font-style: "bakersfield" sans-serif;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.descript2{
  display: block;
  position: absolute;
  margin-top: 20%;
  padding: 4px;
  width: 40%;

  margin-left: 33%;
  font-style: "bakersfield" sans-serif;
  font-size: 15px;
  color: black;
  cursor: pointer;
}


@media screen and (max-width:650px) {
  .column {
    width: 100%;
    display: block;

  }
}
@media screen and (max-width:650px) {
  .column1 {
    width: 100%;
    display: block;

  }
}
